$default-size: 14px;
$default-color: #a1a1a1;
$default-color-black: #363636;

$detail-area-bot: 52px;
$detail-arealeft-top:43px;

$detail-area-id-top: 0;
$detail-area-id-right: 0;
$detail-area-id-size: 15px;
$detail-area-listid-top: 10%;

$detail--area-item-top: 8px;
$detail--area-item-bot: 8px;

$col-5-detail-width: calc(3 / 8 * 100%);
$col-7-detail-width: calc(5 / 8 * 100%);

$bullet-size:0.5;
$bullet-position: -8px;
$bullet-text-heightline: 1;
$bullet-text-font: 14px;
$bullet-text-top: 1px;
$bullet-text-bot: 1px;

$bullet-address-top: -8px;
$bullet-address-bot: 11px;
$bullet-text-address-width: 65%;

$hightext-black-large-size: 26px;