@media (max-width: 767px){
	.page-number .page--number-press.page--number--press-left {
    	left: 38%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 38%;
	}
}

@media (max-width: 640px){
	.page-number .page--number-press.page--number--press-left {
    	left: 36%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 36%;
	}
}

@media (max-width: 600px){
	.page-number .page--number-press.page--number--press-left {
    	left: 34%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 34%;
	}
}

@media (max-width: 480px){
	.page-number .page--number-press.page--number--press-left {
    	left: 32%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 32%;
	}
}

@media (max-width: 400px){
	.page-number .page--number-press.page--number--press-left {
    	left: 28%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 28%;
	}
}

@media (max-width: 375px){
	.page-number .page--number-press.page--number--press-left {
    	left: 26%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 26%;
	}
}

@media (max-width: 320px){
	.page-number .page--number-press.page--number--press-left {
    	left: 22%;
	}
	.page-number .page--number-press.page--number--press-right {
    	right: 22%;
	}
}