$max-width: 100%;
$max-height: 100%;

$padding-grid-img: 0px;

$title-gridtext-size: 2em;
$description-gridtext-size: 18px;
$bg-image-nolink-header-size: 42px;
$bg-image-nolink-text-size: 1.5em;

$description-gridtext-lineheight: 1.5;

$gridtext-color: #fff;
$gridtext-grey-color: #3f3f3f;
$gridtext-background-blue: #0daad0;
$gridtext-background-orange: #f16529;
$gridtext-background-grey: #3f3f3f;

$title-gridtext-margin-top: 0px;
$link-gridtext-margin-top: 1.5em;
$content-gridtext-margin-top: 19px;
$bg-image-nolink-area: 11%;
$bg-image-nolink-header-margin-top: 0.8em;
$bg-image-nolink-text-margin-top: 0.3em;

$content-gridtext-padding-left: 10%;
$content-gridtext-padding-right: 10%;
$gridtext-background-img-nolink: 2em;

$gridimage-col-12-position-x: -67px; 
$gridimage-col-12-position-y: -180px;