#menu-area{
	margin-top: 2em;
}

.menu-content{
	margin-top: 10%;
	margin-bottom: 7%;
}

.menu-caption{
	color: #fff;
	font-size: 78px;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.menu-description{
	display: inline-block;
	color: #fff;
	font-size: 48px;
	font-style: italic;
	font-family: "Vijaya", Arial, sans-serif;
	width: 79%;
}


