$max-width: 100%;
$content-max-width: 930px;
$content-padding-top: 80px;
$content-padding-left: 120px;
$content-grayscale-color: 90%; 
$body-color: #777;
$footer-text-color: #f5f5f5;
$footer-bg-color: #2d2d30;
$footer-hover-color: #777;
$footer-padding: 32px;
