.linktext-content{
	position: absolute; 
	left: 10%; 
	right: 10%;
	top: 10%;
	.linktext--content-title{
		font-size: 2em;
		color: #fff;
		margin-top: 0em;
		margin-bottom: 0.5em;
		&.grey{
			color: #3f3f3f;
		}
	}
	.linktext--content-description{
		font-size: 20px;
		color: #fff;
		&.grey{
			color: #3f3f3f;
		}
	}
	> img{
		width: inherit;
	}
	> a{
		float: right;
		margin-top: 1.5em;
		> img{
			width: inherit;
		}
	}
}

