@import "../helpers/variables.scss";

.search-area{
	.search--area-parent{
		margin-bottom: 40px;
		.search--area-child{
			margin-top: 21px;
			> form > input{
				height: 57px;
			}
			&.search--area-panelchild{
				margin-top: 28px;
				.search--area--panelchild-item{
					margin-bottom: 9px;
				}
			}
		}
		&.search--area-finalparent{
			margin-bottom: 58px;
		}
	}
}
