@import "../helpers/variables.scss";

.detail-area{
	margin-bottom: $detail-area-bot;
	position: relative;
	.detail--area-id{
		float: right;
		position: absolute;
		right: $detail-area-id-right;
		top: $detail-area-id-top;
		font-size: $detail-area-id-size;
		font-family: $detail-area-listid-font;
		color: $default-color-black;
	}
	.detail--area-info{
		margin-top: $detail-area-info-top;
	}
	.detail--area-result{
		@extend .detail--area-id;
		font-style: italic;
		color: $detail-area-result-color;
		font-size: $detail-area-result-size;
	}
	.detail--area-item{
		padding-top: $detail-area-item-top;
		padding-bottom: $detail-area-item-bot;
		font-size: $detail-area-item-size;
	}
	> img{
		width: $max-width;
	}
}
.detail--area-name{
	font-family: $detail-area-name-font;
	font-size: $detail-area-name-size;
	margin-bottom: $detail-area-name-bot;
}

.detail-area-left{
	margin-top: $detail-arealeft-top;
	.row .detail--area--left-title{
		margin-top: $detail-area-left-title-top;
	}
}

.detail--area-readmore{
	margin-top: $detail-area-readmore-top;
	> a{
		color: $detail-area-readmore-color;
		font-family: $detail-area-readmore-font;
    	font-size: $detail-area-readmore-size;
	}
}

.col-5-detail{
	width: $col-5-detail-width;
}

.col-7-detail{
	width: $col-7-detail-width;
}
