#menu-image{
	background-image: url('../img/Hamburger.svg');
}

#menu-area{
	margin-top: 2em;
}

.menu-caption{
	color: #fff;
	font-size: 78px !important;
	text-transform: uppercase;
}

.menu-description{
	color: #fff;
	font-size: 48px;
	font-style: italic;
}

